@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #02037b;
  text-align: center;
  font-weight: bold;
}

.button {
  width: 200px;
  height: 40px;
  border: 3px solid #02037b;
  border-radius: 8px;
  background-color: transparent;
  color: #02037b;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin: 0 auto 10px;
}
.button:hover {
  background-color: #02037b;
  color: white;
}

.h-center {
  display: flex;
  justify-content: center;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
}

.rm-underline {
  text-decoration: none;
}

#choices-list-div {
  text-align: center; /* Centre la div */
}

#choices-list {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Aligne la liste à gauche */
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 600px; /* Ajoutez une largeur maximale si nécessaire */
}

#score-table {
  width: 30%;
  margin: 0 auto;
}

#score-table th,
#score-table td {
  padding: 8px;
  border: 3px solid #6f4bf1;
  border-radius: 8px;
  color: #6f4bf1;
}

#score-table th {
  background-color: #6f4bf1;
  color: white;
}
#score {
  margin-bottom: 20px;
}

.best-score {
  color: #6f4bf1;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-text {
  color: #02037b;
}

.hide {
  display: none;
}
